body {
  margin: 5px;
  padding: 5px;
  background: rgba(0,104,193,0.8);
  border: 3px solid red;

}

header {
  background: rgba(0,0,0,1);
  border: 3px solid green;
  display: flex;
  flex-direction: column;

}
main {
  background: rgba(100,111,100,0.5);
  border: 3px solid yellow;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

footer {
  background: rgba(120,120,120,0.5);
  border:3px solid brown;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner {
  width: 100%;
  height: 200px;
  border: 2px solid white;
}

.menu {
  width: 100%;
  height: 200px;
  border: 2px solid white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.petcard {
  width: 100%;
  height: 300px;
  margin: 5px;
  padding: 5px;
}
.card-img {
  height: 70%;
  width: 100%;
  border: 2px solid green;
}

.card-footer {
  height: 15%;
  width: 100%;
  border: 2px solid green;
}

.card-txt {
  height: 15%;
  width: 100%;
  border: 2px solid green;
}

#petimg1 {
  background-image: url('./pet_images/cat_1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

#petimg2 {
  background-image: url('./pet_images/cat_2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

#petimg3 {
  background-image: url('./pet_images/cat_3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

#petimg4 {
  background-image: url('./pet_images/cat_4.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

#petimg5 {
  background-image: url('./pet_images/dog_1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

#petimg6 {
  background-image: url('./pet_images/dog_2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

#petimg7 {
  background-image: url('./pet_images/parrot_1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

#petimg8 {
  background-image: url('./pet_images/parrot_2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}




@media only screen and (min-width: 600px){
  .petcard {
    width: 50%;
  }
}

@media only screen and (min-width: 768px){
  .petcard{
    width: 33%
  }
}

@media only screen and (min-width: 992px){
  .petcard {
    width: 25%
  }

  @media only screen and (min-width: 1200px){
    width: 17%;
  }
}
