@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&family=Roboto&display=swap');

body {
  margin: 5px;
  padding: 5px;
  border: 3px solid red;
}

header {
  border: 3px solid green;
  display: flex;
  flex-direction: column;
}
main {
  background: rgba(100,111,100,0.5);
  border: 3px solid yellow;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

footer {
  background: rgba(120,120,120,0.5);
  border:3px solid brown;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner {
  width: 100%;
  height: 300px;
  border: 2px solid yellow;
  background-image: url('./pet_images/pets.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  font-family: 'Work Sans', sans-serif;
  font-size: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.menu {
  width: 100%;
  height: 30px;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menubutton {
  height: 30px;
  cursor: pointer;
  font-family: 'Work Sans', sans-serif;
  font-size: 1em;
  background-color: rgba(0,0,255,0.7);
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transition: all 1s;
}

.searchbutton {
  height: 30px;
  cursor: pointer;
  font-family: 'Work Sans', sans-serif;
  font-size: 1em;
  border-radius: 3px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transition: all 1s;
}


.cardbutton {

}

.searchbutton:hover {
  filter: brightness(0.5);
}
.menubutton:hover {
  background-color: rgba(0,0,139,1);
}
.petcard {
  width: 100%;
  height: 500px;
  margin: 5px;
  margin-bottom: 15px;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
}
.cardimg {
  height: 70%;
  width: 100%;
  border: 2px solid green;
}

.cardfooter {
  height: 15%;
  width: 98%;
  padding: 4px;
  border: 2px solid green;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardtxt {
  height: 15%;
  width: 100%;
  border: 2px solid green;
}

#petimg1 {
  background-image: url('./pet_images/cat_1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

#petimg2 {
  background-image: url('./pet_images/cat_2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

#petimg3 {
  background-image: url('./pet_images/cat_3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

#petimg4 {
  background-image: url('./pet_images/cat_4.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

#petimg5 {
  background-image: url('./pet_images/dog_1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

#petimg6 {
  background-image: url('./pet_images/dog_2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

#petimg7 {
  background-image: url('./pet_images/parrot_1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

#petimg8 {
  background-image: url('./pet_images/parrot_2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

#petimg9 {
  background-image: url('./pet_images/parrot_3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

@media only screen and (min-width: 600px){
  .petcard {
    width: 50%;
  }
  .banner {
    font-size: 4em;
  }
}

@media only screen and (min-width: 768px){
  .petcard{
    width: 33%
  }
  .menu {
    justify-content: space-between;
  }
  .banner {
    font-size: 6em;
  }
}

@media only screen and (min-width: 992px){
  .petcard {
    width: 25%
  }
  .banner {
    font-size: 8em;
  }

  @media only screen and (min-width: 1200px){
    width: 17%;
  }
}
